---
permalink: /
layout: default
custom_js_lib:
- '/lib/slick-1.8.1/slick/slick.min.js'
custom_js:
- 'home.js'
---

<div class="jumbotron jumbotron-home text-center">
  <div class="container">

    <!-- TODO: add our logo svg here -->
    <h1>Our Animated Awesome AAA-class LOGO Placeholder</h1>
    <!-- end todo -->

    <div class="d-inline-flex flex-justify-around flex-items-center flex-row">
        <div class="p-3">
          <a class="btn btn-md btn-outline-jumbo" href="https://goo.gl/forms/Lk3SukWAMMMLSDK42" target="_blank">Membership Application</a>
        </div>
        <div class="p-3 hide-sm hide-md">
          <a class="btn btn-md btn-outline-jumbo" href="{{site.baseurl}}/learn/">Start Learning</a>
        </div>
        <div class="p-3 hide-sm hide-md">
          <a class="btn btn-md btn-outline-jumbo" href="{{site.baseurl}}/build/">Start Hacking</a>
        </div>
    </div>
  </div>
</div>

<section class="page-section page-section-spacious" id="bns-intro">
  <div class="container-wide">
    <div class="container-narrow text-center">
      <h2>Our Mission</h2>
      <p>{{site.data.bns.mission}}</p>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 pb-4">
        <div class="block-img px-2 py-2 box-shadow-large">
          <img src="{{site.baseurl}}/images/home/past-event.jpg" alt="past-event">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h2>Who Are We</h2>
        <p>{{site.data.bns.who_we_are}}</p>
        <br>
        <a href="{{site.baseurl}}/team" class="btn-fancy btn-fancy-blue-reverse no-underline mt-2">Meet the Team</a>
      </div>
    </div>
  </div>
</section>

<section class="page-section page-section-spacious bg-shade" id="departments">
  <div class="container-narrow">
    <div class="row text-center">
      <div class="col-12">
        <h2>What We Do</h2>
        <p><b><i>{{site.data.bns.principles}}</i></b></p>
      </div>
    </div>
  </div>
  <div class="container-wide pt-8">
    <div class="row text-center">
      <div class="col-12 col-md-4 px-5">
        <i class="fas fa-4x fa-graduation-cap circle-icon"></i>
        <h3 class="gentle-link-color">Education</h3>
        {{site.data.bns.education_intro}}
        <br>
        <a href="{{site.baseurl}}/learn/" class="btn-fancy btn-fancy-blue-reverse no-underline my-5">Learn More</a>
      </div>
      <div class="col-12 col-md-4 px-5">
        <i class="fas fa-4x fa-laptop-code circle-icon"></i>
        <h3 class="gentle-link-color">R&D</h3>
        {{site.data.bns.research_dev_intro}}
        <br>
        <a href="{{site.baseurl}}/build/" class="btn-fancy btn-fancy-blue-reverse no-underline my-5">Learn More</a>
      </div>
      <div class="col-12 col-md-4 px-5">
        <i class="fas fa-4x fa-flask circle-icon"></i>
        <h3 class="gentle-link-color">Consulting</h3>
        {{site.data.bns.consulting_intro}}
        <br>
        <a href="{{site.baseurl}}/consulting/" class="btn-fancy btn-fancy-blue-reverse no-underline my-5">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section class="page-section page-section-spacious" id="events">
  <div class="container-wide">
    <div class="text-center">
      <h2>Events & Workshops</h2>
    </div>
    <div class="event-slick py-6">
      {% for event in site.data.bns.events %}
        <!-- Having py-5 to display box shawdow -->
        <div class="py-5">
          <a href="{{event.fb_url}}" class="event-fb-link">
            <div class="event-container">
              <img class="event-img" src="{{site.baseurl}}/images/home/event-{{event.index}}.jpg" alt="event-photo">
              <div class="event-overlay pt-3 pl-4 pr-1">
                <h4>{{event.name}}</h4>
                <p>{{event.date}}</p>
                <p>{{event.description}}</p>
                <a href="{{event.url}}" class="btn btn-transparent mt-3" target="_blank">Learn more</a>
              </div>
            </div>
          </a>

        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="page-section page-section-spacious bg-shade" id="contact">
  <div class="text-center">
    <h2>Contact Us</h2>
  </div>
  <div class="container-wide">
    <div class="row">
      <div class="col-12 col-md-6 px-6 py-4">
        {{site.data.bns.contact.notice}}
      </div>
      <div class="col-12 col-md-6 px-6 py-4">
        <!-- TODO: add form validation -->
        <form id="contact-form">
          <dl class="form-group">
            <dt><label for="name">Name:</label></dt>
            <dd><input class="form-control" type="text" placeholder="e.g. Vitalik Kardashian" id="name" name="Name"></dd>
          </dl>

          <dl class="form-group">
            <dt><label for="name">Email:</label></dt>
            <dd><input class="form-control" type="text" placeholder="e.g. KVitalik666@e.ntu.edu.sg" id="email" name="Email"></dd>
          </dl>

          <dl class="form-group">
            <dt><label for="subject">Subject:</label></dt>
            <dd><input class="form-control" type="text" placeholder="e.g. Query on free Blockchain course" id="subject" name="Subject"></dd>
          </dl>

          <dl class="form-group">
            <dt><label for="mail-content">Content</label></dt>
            <dd>
              <textarea class="form-control" id="email-content" placeholder="Your email content here." name="Content"></textarea>
            </dd>
          </dl>

          <a class="btn-fancy btn-fancy-blue-reverse no-underline my-3" id="contact-email-button">Submit</a>
        </form>
      </div>
    </div>
    <hr>
    <div class="container-narrow text-center">
      <!-- <h2>Join Us on Slack <i class="fab fa-slack"></i></h2>
      <form class="mt-5">
        <input class="form-control input-lg" type="text" placeholder="Your email address" aria-label="Large input">
        <br>
        <a href="#" class="btn-fancy btn-fancy-blue-reverse no-underline my-5">Invite Me</a>
      </form> -->
      <!-- TODO: change to its style -->
      <div id="CommunityInviter"></div>
        <script>
          window.CommunityInviterAsyncInit = function () {
            CommunityInviter.init({
              app_url:'bns-slack-invite',
              team_id:'ntusg-blockchain'
           })
          };

          (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://communityinviter.com/js/communityinviter.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'Community_Inviter'));
        </script>
    </div>
  </div>
</section>

<section class="page-section page-section-spacious" id="partners">
  <div class="container-wide text-center">
    <h2>Partners & Sponsors</h2>
    <div class="">
      {% for partner in site.data.bns.partners %}
      <a href='{{ partner.link }}' title='{{ partner.name }}' class='featured-partner'>
        <div class='featured-partner-logo-wrapper vcenter'>
          <img class='featured-partner-logo' src='{{ site.baseurl }}/images/home/{{partner.logo}}' alt='{{ partner.name }}'>
        </div>
        <div class='featured-partner-name'>{{ partner.name }}</div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
