<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <p>Join the Conversation</p>
      <a class="footer-nav-item icon" href="https://facebook.com/NTUBlockchain" title="Our Facebook Page" target="_blank"><i class="fab fa-facebook vertical-middle"></i></a>
      <a class="footer-nav-item icon" href="https://twitter.com/NTUBlockchain" title="Follow us on Twitter" target="_blank"><i class="fab fa-twitter vertical-middle"></i></a>
      <a class="footer-nav-item icon" href="https://github.com/ntusg-blockchain/" title="Our Github" target="_blank"><i class="fab fa-github vertical-middle"></i></a>
      <a class="footer-nav-item icon" href="https://medium.com/@blockchain.ntusg" title="Read Our Blog Posts" target="_blank"><i class="fab fa-medium-m vertical-middle"></i></a>
      <a class="footer-nav-item icon" href="https://ntusg-blockchain.slack.com/" title="Join Our Slack Channel" target="_blank"><i class="fab fa-slack vertical-middle"></i></a>
  </div>
  <div class="footer-love">
    <a href='https://github.com/ntusg-blockchain/' class="no-underline"><span class='fa fa-code'></span> with <span class='fa fa-heart'></span> by Blockchain@NTU</a>
  </div>
</footer>
