<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta content='#2f3241' name='theme-color' />
  <link rel='shortcut icon' href='{{ site.baseurl }}/images/favicon.ico'/>
  <link rel='stylesheet' href='{{ site.baseurl }}/css/index.css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/devicon/devicon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/components-font-awesome/css/fontawesome-all.min.css">
  {% seo %}
  {% feed_meta %}

  <script src="{{ site.baseurl }}/js/index.js"></script>
</head>
