<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <meta content='#2f3241' name='theme-color' />
  <link rel='shortcut icon' type="image/png" href='{{ site.baseurl }}/images/favicon.png'/>
  <link rel='stylesheet' href='{{ site.baseurl }}/css/index.css'>
  <link rel="stylesheet" href="{{site.baseurl}}/lib/fontawesome-free-5.2.0/css/all.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/lib/slick-1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/lib/slick-1.8.1/slick/slick-theme.css" />

  {% if page.url == '/' %}
    <title>Blockchain at NTU Singapore</title>
    {% seo title=false %}
  {% elsif paginator %}
    <title>
    {{ page.title }} - Page {{ paginator.page }} {{ site.title }}
    </title>
    {% seo title=false %}
  {% else %}
    {% seo %}
  {% endif %}
  <!-- Loading page specific css file -->
  {% if page.custom_css %}
    {% for css_file in page.custom_css %}
      <link rel="stylesheet" href="{{site.baseurl}}/css/{{css_file}}" />
    {% endfor %}
  {% endif %}

  {% seo %}
  {% feed_meta %}

</head>
