<!-- Loading globaljs -->
<script src="{{ site.baseurl }}/js/dist/global.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="{{site.baseurl}}/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/lib/jquery-3.3.1/jquery.serialize-object.min.js"></script>

<!-- smooth scrollbar -->
<!-- https://github.com/idiotWu/smooth-scrollbar -->
<script src="{{site.baseurl}}/lib/smooth-scrollbar.min.js">
</script>

<script type="text/javascript">
  Scrollbar.initAll();
  // TODO: investigate why smooth-scrollbar not working
</script>
