<!-- JQuery -->
<script type="text/javascript" src="{{site.baseurl}}/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>

<!-- Slick Carousel -->
<script type="text/javascript" src="{{site.baseurl}}/lib/slick-1.8.1/slick/slick.min.js"></script>
<!-- TODO: make it responsive -->
<script>
  $(document).ready(function(){
    $('.event-slick').slick({
      arrows: true,
      dots: true,
      infinite: false,
      speed: 300,
      slidesToShow: 2,
      slidesToScroll: 1,
      adaptiveHeight: true
    })
    // .on('setPosition', function (event, slick) {
    //   console.log(slick.$slideTrack.height());
    // // slick.$slides.css('height', slick.$slideTrack.height() + 'px');
    // })
    ;

  });
</script>
