.btn {
  font-weight: 400; //override bold from primer
}

// Create color variations of our `.btn-outline`
@mixin btn-outline-jumbo() {
  padding: .65em 1.25em;
  font-size: inherit;
  color: $jumbo-color;
  background: transparent;
  border-color: $jumbo-color;
  border-radius: .25em;

  &:hover,
  &:active {
    background: transparent;
    color: $jumbo-color-strong;
    border-color: $jumbo-color-strong;
  }
}


.btn-outline-jumbo {
  @include btn-outline-jumbo();
}

.btn-outline-jumbo:hover,
.btn-outline-jumbo:active {
  background-image: none;
}

// Override brand-blue on outline buttons with $theme-color
.btn-themed {
  color: $theme-color;

  &:hover {
    background-color: $theme-color;
    border-color: $theme-color;
  }

  &:active {
    background-color: darken($theme-color, 7%);
  }

  &:focus,
  &:focus:hover {
    border-color: $theme-color;
    box-shadow: 0 0 5px $theme-color;
  }

}

// Transparent button to be used on dark backgrounds
.btn-transparent {
  color: $white;
  background: none;
  border-color: $white;
  font-family: CircularStd;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 60px;
  max-width: 173px;
  max-height: 50px;

  &:hover {
    background: $white;
    color: $main-link-color;
    border-color: $white;
  }

  &:active {
    background: rgba(0, 0, 0, 0.4);
  }

  &:disabled,
  &.disabled,
  &:disabled:hover,
  &.disabled:hover {
    color: rgba(255, 255, 255, 0.5);
    background: none;
    border-color: rgba(255, 255, 255, 0.3);
  }

}

.btn-lg {
  padding: 16px 30px;
  font-size: 18px;
}

.btn-md {
  padding: 10px 20px;
  font-size: 15px;
}

// Dfinity like button https://dfinity.org
.btn-fancy{
  display: inline-block;
  width: 100%;
  font-family: CircularStd;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  border-radius: 60px;
  max-width: 173px;
  max-height: 50px;
  line-height: 50px;
  text-decoration: none;
}

.btn-fancy-blue{
  background-color: $main-link-color;
  border: 1px solid $main-link-color;
  color: #fff;
}

.btn-fancy-blue:hover{
  background-color: #fff;
  border: 1px solid $main-link-color;
  color: $main-link-color;
}

.btn-fancy-blue-reverse{
  background-color: #fff;
  border: 1px solid $main-link-color;
  color: $main-link-color;
}
.btn-fancy-blue-reverse:hover{
  background-color: lighten($main-link-color, 8%);
  border: 1px solid $main-link-color;
  color: #fff;
  box-shadow: 0 5px 20px lighten($main-link-color, 20%);
}
