@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-Black.woff);
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-BlackItalic.woff);
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-Bold.woff);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-BoldItalic.woff);
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-Light.woff);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-LightItalic.woff);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-Medium.woff);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-MediumItalic.woff);
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-Regular.woff);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-RegularItalic.woff);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-Thin.woff);
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "BrandonText";
    src: url(../fonts/BrandonText/BrandonText-ThinItalic.woff);
    font-weight: 100;
    font-style: italic
}
