@font-face {
    font-family: 'CircularStd';
    font-style: normal;
    font-weight: 900;
    src:  url(../fonts/Circular/CircularStd-Black.otf)
}

@font-face {
    font-family: 'CircularStd';
    font-style: normal;
    font-weight: 400;
    src:  url(../fonts/Circular/CircularStd-Book.otf)
}

@font-face {
    font-family: 'CircularStd';
    font-style: normal;
    font-weight: 500;
    src:  url(../fonts/Circular/CircularStd-Medium.otf)
}

@font-face {
    font-family: 'CircularStd';
    font-style: italic;
    font-weight: 500;
    src:  url(../fonts/Circular/CircularStd-BlackItalic.otf)
}

@font-face {
    font-family: 'CircularStd';
    font-style: normal;
    font-weight: 600;
    src:  url(../fonts/Circular/CircularStd-Bold.otf)
}

@font-face {
    font-family: 'CircularStd';
    font-style: italic;
    font-weight: 600;
    src:  url(../fonts/Circular/CircularStd-BoldItalic.otf)
}

@font-face {
    font-family: 'CircularStd';
    font-style: italic;
    font-weight: 400;
    src:  url(../fonts/Circular/CircularStd-BookItalic.otf)
}

@font-face {
    font-family: 'CircularStd';
    font-style: italic;
    font-weight: 500;
    src:  url(../fonts/Circular/CircularStd-MediumItalic.otf)
}
