
// Jumbotron ------------------------------

.jumbotron.jumbotron-home {
  // Reduce padding because the hero has some extra padding for the animation.
  padding: $spacer2 $spacer3 $spacer6 $spacer3;
  @include breakpoint(md) { padding: $spacer4 $spacer3 $spacer8 $spacer3; }
  @include breakpoint(xl) { padding: $spacer6 0 $spacer6 * 2 0; }
}

// Headers ------------------------------

.app-frame {
  border: 2px solid $main-border-color;
  border-top-width: 20px;
  border-radius: 4px;
  background-color: #FAFAFA;
  box-shadow: 0 25px 30px -18px rgba(0, 0, 0, 0.28);
}

.block-img img {
  width: 100%;
  height: auto;
}

// external circle around an icon
.circle-icon {
  color: $main-link-gentle;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 30px;
}

.gentle-link-color {
  color: $main-link-gentle;
}

.department-wrapper {
  height: 370px !important;
  overflow: hidden;
}

// Events Slider -----------------------
.event-img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 5px 20px darken($main-color-subtle, 10%);
}
.event-container {
  position: relative;
}
.event-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $main-link-color;
  opacity: 0.9;
  overflow: hidden;
  width: 100%;
  height: 5em;
  transition: .5s ease;
  color: white;
}
.event-container:hover .event-overlay {
  height: 75%;
}

// slick navigation arrows style
.slick-prev:before, .slick-next:before {
  color:$main-link-color !important;
  font-size: 30px;
}
/* the slides */
.slick-slide {
  margin: 0 $spacer4;
}

/* the parent */
.slick-list {
  margin: 0 -$spacer4;
}

a.event-fb-link{
  text-decoration: none;
  color: #fff;
}


/* Featured partners with Icons */
.featured-partner {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  padding: 0;
  color: $main-color-subtle;
  margin: 10px 20px;
  &:hover {
    text-decoration: none;
  }
}

.featured-partner-logo-wrapper {
  width: 120px;
  height: 120px;
  margin: 10px;
  transition: transform .32s;
}

.featured-partner:hover .featured-partner-logo-wrapper {
  transform: scale(1.1);
  transition-duration: .08s;
}

.featured-partner:active .featured-partner-logo-wrapper {
  transform: scale(.92);
  transition-duration: 0;
}

.featured-partner-logo {
  width: 100%;
  vertical-align: middle;
}

.featured-partner-name {
  text-align: center;
  text-decoration: none;
  line-height: 1.3;
  font-weight: 300;
  white-space: hidden;
  overflow: visible;
  text-overflow: ellipsis;
}
