
// Jumbotron ------------------------------

.jumbotron.jumbotron-home {
  // Reduce padding because the hero has some extra padding for the animation.
  padding: $spacer2 $spacer3 $spacer6 $spacer3;
  @include breakpoint(md) { padding: $spacer4 $spacer3 $spacer8 $spacer3; }
  @include breakpoint(xl) { padding: $spacer6 0 $spacer6 * 2 0; }
}

// Headers ------------------------------

.app-frame {
  border: 2px solid $main-border-color;
  border-top-width: 20px;
  border-radius: 4px;
  background-color: #FAFAFA;
  box-shadow: 0 25px 30px -18px rgba(0, 0, 0, 0.28);
}

.block-img img {
  width: 100%;
  height: auto;
}

// external circle around an icon
.circle-icon {
  color: $main-link-gentle;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 30px;
}

.gentle-link-color {
  color: $main-link-gentle;
}
