<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    {% include anchor_links.html %}

    <!-- TODO: add scripts to minify, uglify all js files for each page into a production level bundle js file -->
    <!-- Loading global js file -->
    {% include js_addons_global.html %}
    <!-- Loading custom js lib -->
    {% if page.custom_js_lib %}
      {% for js_lib in page.custom_js_lib %}
        <script type="module" src="{{js_lib}}"></script>
      {% endfor %}
    {% endif %}
    <!-- Loading custom js file specific to each page -->
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script type="text/javascript" src="/js/{{js_file}}"></script>
      {% endfor %}
    {% endif %}


  </body>

</html>
